{% extends 'base.html' %}
{% load static %}
{% block title %}Home | DijiKala{% endblock %}

{% block content %}
<h2>🛒 Latest Products</h2>
<table>
<tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.store.name }}</td>

        <td>
            {% if user.is_authenticated %}
                <button>Add to Cart</button>
            {% else %}
                <a href="{% url 'login' %}">Login to Buy</a>
            {% endif %}
        </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="5">No products available.</td>
    </tr>
    {% endfor %}
</tbody>
</table>

        <div class="card">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description|truncatewords:12 }}</p>
            <p><strong>${{ product.price }}</strong></p>
            {% if user.is_authenticated %}
                
            {% else %}
                <p><a href="{% url 'login' %}">Login to Buy</a></p>
            {% endif %}
         
{% endblock %}
